* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}

header {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.8rem;
}

header h3#brand {
    display: flex;
    align-content: flex-start;
    border: 2px solid aquamarine;
    line-height: 2rem;
    padding: 0.3rem;
}

h3#brand span {
    color: aqua;
}

h1.title {
    color: aqua;
}

section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

div[data-his-picture] {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-self: center;
}

div[data-his-picture] img {
    width: 90%;
    height: 30rem;
    margin: 0 auto;
    padding: 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

main [data-about-him] {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

main section.tribute-info {
    display: flex;
    flex-flow: column wrap;
    font-size: 0.8rem;
    max-width: 60%;
    margin: 0 auto;
    /* background: #eee; */
}

main section.tribute-info h3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

main section.tribute-info .tribute-content {
    display: flex;
    justify-content: center !important;
    flex-flow: column wrap;
    padding: 1rem;
}

.tribute-content .history {
    text-align: justify;
    letter-spacing: 0.1rem;
    display: table;
    flex-basis: 1;
    padding: 0.6rem;
}

blockquote p,
cite {
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0.8rem;
}

footer a {
    text-decoration: none;
    color: aqua;
}

@media (max-width:900px) {
    main section.tribute-info {
        display: flex;
        flex-flow: column wrap;
        font-size: 0.8rem;
        max-width: 100%;
        margin: 0 auto;
        /* background: #eee; */
    }
}